In [65]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [ ]:
Deliverable 1: Replace the reading and math scores.
Replace the 9th grade reading and math scores at Thomas High School with NaN.

In [66]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [67]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.


student_data_df.loc[((student_data_df["grade"] == "9th") & (student_data_df["school_name"] == "Thomas High School")),"reading_score"] = np.nan
#ninth_grade
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66.0,79
1,1,Victor Smith,M,12th,Huang High School,94.0,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60
3,3,Richard Scott,M,12th,Huang High School,67.0,58
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84
5,5,Bryan Miranda,M,9th,Huang High School,94.0,94
6,6,Sheena Carter,F,11th,Huang High School,82.0,80
7,7,Nicole Baker,F,12th,Huang High School,96.0,69
8,8,Michael Roth,M,10th,Huang High School,95.0,87
9,9,Matthew Greene,M,10th,Huang High School,96.0,84
10,10,Andrew Alexander,M,10th,Huang High School,90.0,70
11,11,Daniel Cooper,M,10th,Huang High School,78.0,77
12,12,Brittney Walker,F,9th,Huang High School,64.0,79
13,13,William Long,M,9th,Huang High School,71.0,79
14,14,Tammy Hebert,F,10th,Huang High School,85.0,67
15,15,Jordan Carson,M,11th,Huang High School,94.0,88
16,16,Donald Zamora,M,9th,Huang High School,88.0,55
17,17,Kimberly Santiago,F,9th,Huang High School,74.0,75
18,18,Kevin Stevens,M,9th,Huang High School,64.0,69
19,19,Brandi Lyons,F,9th,Huang High School,89.0,80
20,20,Lisa Davis,F,10th,Huang High School,91.0,89
21,21,Kristen Lopez,F,10th,Huang High School,90.0,77
22,22,Kimberly Stewart,F,11th,Huang High School,99.0,84
23,23,Christopher Parker,M,9th,Huang High School,81.0,68
24,24,Chelsea Griffith,F,11th,Huang High School,85.0,73
25,25,Cesar Morris,M,9th,Huang High School,92.0,70
26,26,Melanie Decker,F,9th,Huang High School,63.0,85
27,27,Tracey Oconnor,F,10th,Huang High School,80.0,58
28,28,Kelly James,F,11th,Huang High School,73.0,55
29,29,Nicole Brown,F,12th,Huang High School,90.0,88
...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,NaN,99
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86.0,93
39142,39142,Deborah Higgins,F,10th,Thomas High School,96.0,83
39143,39143,Steven Jackson,M,11th,Thomas High School,71.0,93
39144,39144,Cristian Webster,M,12th,Thomas High School,77.0,87
39145,39145,Audrey Fry,F,10th,Thomas High School,94.0,74
39146,39146,Michael Carroll,M,9th,Thomas High School,NaN,95
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88.0,81
39148,39148,Christopher Wilson,M,10th,Thomas High School,89.0,89
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82.0,93
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80.0,75
39151,39151,Shannon Williams,F,10th,Thomas High School,84.0,73
39152,39152,Lori Moore,F,9th,Thomas High School,NaN,84
39153,39153,William Hubbard,M,9th,Thomas High School,NaN,75
39154,39154,Bradley Johnson,M,12th,Thomas High School,91.0,71
39155,39155,John Brooks,M,10th,Thomas High School,92.0,98
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79.0,95
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,NaN,94
39158,39158,Kari Holloway,F,10th,Thomas High School,87.0,90
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85.0,72
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77
39163,39163,John Reese,M,11th,Thomas High School,90.0,75
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,76
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75

In [197]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.

student_data_df.loc[((student_data_df["grade"] == "9th") & (student_data_df["school_name"] == "Thomas High School")),"math_score"] = np.nan
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79.0
1,1,Victor Smith,M,12th,Huang High School,94,61.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60.0
3,3,Richard Scott,M,12th,Huang High School,67,58.0
4,4,Bonnie Ray,F,9th,Huang High School,97,84.0
5,5,Bryan Miranda,M,9th,Huang High School,94,94.0
6,6,Sheena Carter,F,11th,Huang High School,82,80.0
7,7,Nicole Baker,F,12th,Huang High School,96,69.0
8,8,Michael Roth,M,10th,Huang High School,95,87.0
9,9,Matthew Greene,M,10th,Huang High School,96,84.0
10,10,Andrew Alexander,M,10th,Huang High School,90,70.0
11,11,Daniel Cooper,M,10th,Huang High School,78,77.0
12,12,Brittney Walker,F,9th,Huang High School,64,79.0
13,13,William Long,M,9th,Huang High School,71,79.0
14,14,Tammy Hebert,F,10th,Huang High School,85,67.0
15,15,Jordan Carson,M,11th,Huang High School,94,88.0
16,16,Donald Zamora,M,9th,Huang High School,88,55.0
17,17,Kimberly Santiago,F,9th,Huang High School,74,75.0
18,18,Kevin Stevens,M,9th,Huang High School,64,69.0
19,19,Brandi Lyons,F,9th,Huang High School,89,80.0
20,20,Lisa Davis,F,10th,Huang High School,91,89.0
21,21,Kristen Lopez,F,10th,Huang High School,90,77.0
22,22,Kimberly Stewart,F,11th,Huang High School,99,84.0
23,23,Christopher Parker,M,9th,Huang High School,81,68.0
24,24,Chelsea Griffith,F,11th,Huang High School,85,73.0
25,25,Cesar Morris,M,9th,Huang High School,92,70.0
26,26,Melanie Decker,F,9th,Huang High School,63,85.0
27,27,Tracey Oconnor,F,10th,Huang High School,80,58.0
28,28,Kelly James,F,11th,Huang High School,73,55.0
29,29,Nicole Brown,F,12th,Huang High School,90,88.0
...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,NaN
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93.0
39142,39142,Deborah Higgins,F,10th,Thomas High School,96,83.0
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93.0
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87.0
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74.0
39146,39146,Michael Carroll,M,9th,Thomas High School,69,NaN
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81.0
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89.0
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93.0
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75.0
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73.0
39152,39152,Lori Moore,F,9th,Thomas High School,98,NaN
39153,39153,William Hubbard,M,9th,Thomas High School,80,NaN
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71.0
39155,39155,John Brooks,M,10th,Thomas High School,92,98.0
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95.0
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,NaN
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90.0
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72.0
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86.0
39161,39161,April Reyes,F,10th,Thomas High School,70,84.0
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77.0
39163,39163,John Reese,M,11th,Thomas High School,90,75.0
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,NaN
39165,39165,Donna Howard,F,12th,Thomas High School,99,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75.0

In [169]:
#  Step 4. Check the student data for NaN's. 
ninth_graders = student_data_df[(student_data_df["grade"] == "9th") & (student_data_df["school_name"] == "Thomas High School")]
ninth_graders

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
37537,37537,Erik Snyder,M,9th,Thomas High School,NaN,90
37538,37538,Tanya Martinez,F,9th,Thomas High School,NaN,69
37539,37539,Noah Erickson,M,9th,Thomas High School,NaN,76
37540,37540,Austin Meyer,M,9th,Thomas High School,NaN,96
37543,37543,Madison Hampton,F,9th,Thomas High School,NaN,73
37550,37550,Patricia Diaz,F,9th,Thomas High School,NaN,99
37558,37558,Kelly Henderson,M,9th,Thomas High School,NaN,90
37559,37559,Kiara Bates,F,9th,Thomas High School,NaN,98
37562,37562,Teresa Johns,F,9th,Thomas High School,NaN,69
37564,37564,Stephen Patrick,M,9th,Thomas High School,NaN,97
37567,37567,Jeffery Haynes,M,9th,Thomas High School,NaN,81
37569,37569,Heather Bailey,F,9th,Thomas High School,NaN,90
37572,37572,Jason Hogan,M,9th,Thomas High School,NaN,75
37573,37573,Justin Brown,M,9th,Thomas High School,NaN,98
37578,37578,Donna Hall,F,9th,Thomas High School,NaN,75
37581,37581,Douglas Smith,M,9th,Thomas High School,NaN,75
37587,37587,Zachary Christian,M,9th,Thomas High School,NaN,74
37599,37599,Lauren Garner,F,9th,Thomas High School,NaN,68
37609,37609,Daniel Patterson,M,9th,Thomas High School,NaN,87
37610,37610,Patrick Stanley,M,9th,Thomas High School,NaN,94
37613,37613,Julia Bruce,F,9th,Thomas High School,NaN,95
37614,37614,Pamela Graves,F,9th,Thomas High School,NaN,68
37616,37616,William Herrera,M,9th,Thomas High School,NaN,95
37632,37632,Dennis Underwood,M,9th,Thomas High School,NaN,88
37635,37635,George Morgan,M,9th,Thomas High School,NaN,99
37641,37641,Darryl Klein,M,9th,Thomas High School,NaN,87
37644,37644,Connie Thompson,F,9th,Thomas High School,NaN,75
37646,37646,Melissa Harper,F,9th,Thomas High School,NaN,74
37647,37647,Valerie Day,F,9th,Thomas High School,NaN,70
37649,37649,Rebecca Morris,F,9th,Thomas High School,NaN,96
...,...,...,...,...,...,...,...
39083,39083,Gloria Wilson,F,9th,Thomas High School,NaN,73
39084,39084,Angela Daniels,F,9th,Thomas High School,NaN,91
39085,39085,Marcus Morgan,M,9th,Thomas High School,NaN,88
39087,39087,Lisa Kennedy,F,9th,Thomas High School,NaN,68
39089,39089,Lindsey Thompson,F,9th,Thomas High School,NaN,79
39090,39090,Lori Dickson,F,9th,Thomas High School,NaN,83
39092,39092,Joseph Burgess,M,9th,Thomas High School,NaN,96
39093,39093,Antonio Kirk,M,9th,Thomas High School,NaN,74
39102,39102,Jennifer White,F,9th,Thomas High School,NaN,94
39103,39103,Carrie Stewart,F,9th,Thomas High School,NaN,91
39105,39105,Kimberly Page,F,9th,Thomas High School,NaN,85
39107,39107,Stacy Wells,F,9th,Thomas High School,NaN,81
39111,39111,Mary Coffey,F,9th,Thomas High School,NaN,89
39117,39117,Daniel Best,M,9th,Thomas High School,NaN,98
39123,39123,Andrew Merritt,M,9th,Thomas High School,NaN,82
39124,39124,Susan Simon,F,9th,Thomas High School,NaN,98
39127,39127,Robert Wood,M,9th,Thomas High School,NaN,98
39128,39128,Jonathan Mueller,M,9th,Thomas High School,NaN,98
39131,39131,Brian Williams,M,9th,Thomas High School,NaN,86
39132,39132,Shawn Hayden,M,9th,Thomas High School,NaN,78
39135,39135,Laura Webster,F,9th,Thomas High School,NaN,81
39138,39138,Monica Hampton,F,9th,Thomas High School,NaN,94
39139,39139,Catherine Lee,F,9th,Thomas High School,NaN,81
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,NaN,99
39146,39146,Michael Carroll,M,9th,Thomas High School,NaN,95
39152,39152,Lori Moore,F,9th,Thomas High School,NaN,84
39153,39153,William Hubbard,M,9th,Thomas High School,NaN,75
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,NaN,94
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,76
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,84

In [69]:
student_data_df.tail(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77
39163,39163,John Reese,M,11th,Thomas High School,90.0,75
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,76
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75

In [ ]:
Deliverable 2 : Repeat the school district analysis¶

In [ ]:
District Summary

In [70]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66.0,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94.0,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67.0,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84,0,District,2917,1910635

In [71]:
# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete_df["school_name"].unique())
student_count = school_data_complete_df["Student ID"].count()

# Calculate the Total Budget
total_budget = school_data_df["budget"].sum()

In [72]:
# Calculate the Average Scores using the "clean_student_data".
average_reading_score = school_data_complete_df["reading_score"].mean()
average_math_score = school_data_complete_df["math_score"].mean()

In [73]:
# Step 1. Get the number of students that are in ninth grade at Thomas High School.
# These students have no grades. 
ninth_graders = student_data_df[(student_data_df["grade"] == "9th") & (student_data_df["school_name"] == "Thomas High School")]
ninth_graders_count = ninth_graders["student_name"].count()
ninth_graders_count

461

In [75]:
# Get the total student count 
student_count = school_data_complete_df["Student ID"].count()
student_count

39170

In [76]:
# Step 2. Subtract the number of students that are in ninth grade at 
# Thomas High School from the total student count to get the new total student count.
remaining_students_count = student_count - ninth_graders_count
remaining_students_count

38709

In [77]:
# Calculate the passing rates using the "clean_student_data".
passing_math_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_reading_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
#passing_math_count = student_data_df[(student_data_df["math_score"] >= 70)].count()["student_name"]
#passing_reading_count = student_data_df[(student_data_df["reading_score"] >= 70)].count()["student_name"]
print(passing_math_count)
print(passing_reading_count)

29370
33158

In [78]:
# Step 3. Calculate the passing percentages with the new total student count.
passing_math_percentage = passing_math_count / (remaining_students_count) * 100
passing_reading_percentage = passing_reading_count / (remaining_students_count) * 100
print(passing_math_percentage)
print(passing_reading_percentage)

75.87382779198636
85.6596657108166

In [79]:
# Calculate the students who passed both reading and math.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)
                                               & (school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students that passed both reading and math.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()


# Step 4.Calculate the overall passing percentage with new total student count.
overall_passing_percentage = overall_passing_math_reading_count / remaining_students_count * 100
overall_passing_percentage

64.85571830840374

In [80]:
# Create a DataFrame
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count, 
          "Total Students": student_count, 
          "Total Budget": total_budget,
          "Average Math Score": average_math_score, 
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])



# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
# Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.1f}".format)

# Display the data frame
district_summary_df

,% Overall Passing,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Total Budget,Total Schools,Total Students
0,64.9,75.9,85.7,79.0,81.9,"$24,649,428.00",15,"39,170"

In [81]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75.9,85.7,64.9

##  School Summary

In [82]:
# Determine the School Type
per_school_types = school_data_df.set_index(["school_name"])["type"]

# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()

# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts

# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

# Calculate the students who passed both reading and math.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)
                                               & (school_data_complete_df["math_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [83]:
# Create the DataFrame
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})


# per_school_summary_df.head()

In [213]:
# Format the Total School Budget and the Per Student Budget
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the data frame
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.350937,83.848930,66.911315,97.308869,65.076453
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [84]:
# Step 5.  Get the number of 10th-12th graders from Thomas High School (THS).
total_students = student_data_df[(student_data_df["school_name"] == "Thomas High School")]
total_students_count = total_students["student_name"].count()
print(total_students_count)

ninth_graders = student_data_df[(student_data_df["grade"] == "9th") & (student_data_df["school_name"] == "Thomas High School")]
ninth_graders_count = ninth_graders["student_name"].count()
print(ninth_graders_count)

tenth_eleventh_twelfth = total_students_count - ninth_graders_count
print(tenth_eleventh_twelfth)

1635
461
1174

In [85]:
# Step 6. Get all the students passing math from THS
#student_data_df.loc[((student_data_df["grade"] == "9th") & (student_data_df["school_name"] == "Thomas High School"))
per_school_passing_math = student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["math_score"] >= 70)]
per_school_passing_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
37535,37535,Norma Mata,F,10th,Thomas High School,76.0,76
37536,37536,Cody Miller,M,11th,Thomas High School,84.0,82
37537,37537,Erik Snyder,M,9th,Thomas High School,NaN,90
37539,37539,Noah Erickson,M,9th,Thomas High School,NaN,76
37540,37540,Austin Meyer,M,9th,Thomas High School,NaN,96
37541,37541,Eric Stevens,M,10th,Thomas High School,80.0,76
37542,37542,Elizabeth Bennett,F,11th,Thomas High School,91.0,94
37543,37543,Madison Hampton,F,9th,Thomas High School,NaN,73
37544,37544,Jacqueline Harris,F,10th,Thomas High School,71.0,92
37546,37546,Steven Hoover,M,12th,Thomas High School,90.0,81
37547,37547,Amanda Hicks,F,12th,Thomas High School,77.0,74
37548,37548,Brian Moss,M,10th,Thomas High School,70.0,97
37550,37550,Patricia Diaz,F,9th,Thomas High School,NaN,99
37551,37551,Nancy Mason,F,12th,Thomas High School,91.0,86
37552,37552,Matthew Marquez,M,10th,Thomas High School,88.0,79
37553,37553,Curtis Gibson,M,10th,Thomas High School,97.0,70
37554,37554,Rebecca Brown,F,11th,Thomas High School,76.0,77
37555,37555,Chad Martin,M,11th,Thomas High School,72.0,82
37556,37556,Sarah Park,F,11th,Thomas High School,95.0,74
37557,37557,Shannon Sanchez,F,11th,Thomas High School,93.0,84
37558,37558,Kelly Henderson,M,9th,Thomas High School,NaN,90
37559,37559,Kiara Bates,F,9th,Thomas High School,NaN,98
37560,37560,Kim Hall,F,11th,Thomas High School,70.0,83
37561,37561,Charles Lopez,M,11th,Thomas High School,69.0,93
37563,37563,Amy Richard,F,10th,Thomas High School,80.0,97
37564,37564,Stephen Patrick,M,9th,Thomas High School,NaN,97
37565,37565,Teresa Poole,F,10th,Thomas High School,93.0,94
37566,37566,Jonathon Roberts,M,10th,Thomas High School,84.0,77
37567,37567,Jeffery Haynes,M,9th,Thomas High School,NaN,81
37568,37568,Jacob Mccullough,M,11th,Thomas High School,77.0,98
...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,NaN,99
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86.0,93
39142,39142,Deborah Higgins,F,10th,Thomas High School,96.0,83
39143,39143,Steven Jackson,M,11th,Thomas High School,71.0,93
39144,39144,Cristian Webster,M,12th,Thomas High School,77.0,87
39145,39145,Audrey Fry,F,10th,Thomas High School,94.0,74
39146,39146,Michael Carroll,M,9th,Thomas High School,NaN,95
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88.0,81
39148,39148,Christopher Wilson,M,10th,Thomas High School,89.0,89
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82.0,93
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80.0,75
39151,39151,Shannon Williams,F,10th,Thomas High School,84.0,73
39152,39152,Lori Moore,F,9th,Thomas High School,NaN,84
39153,39153,William Hubbard,M,9th,Thomas High School,NaN,75
39154,39154,Bradley Johnson,M,12th,Thomas High School,91.0,71
39155,39155,John Brooks,M,10th,Thomas High School,92.0,98
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79.0,95
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,NaN,94
39158,39158,Kari Holloway,F,10th,Thomas High School,87.0,90
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85.0,72
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77
39163,39163,John Reese,M,11th,Thomas High School,90.0,75
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,76
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75

In [86]:
tenth_grade_passing_math = student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "10th") & (student_data_df["math_score"] >= 70)]
tenth_grade_passing_math
tenth_grade_passing_math_count = tenth_grade_passing_math["student_name"].count()
tenth_grade_passing_math_count

396

In [87]:
eleventh_grade_passing_math = student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "11th") & (student_data_df["math_score"] >= 70)]
eleventh_grade_passing_math
eleventh_grade_passing_math_count = eleventh_grade_passing_math["student_name"].count()
eleventh_grade_passing_math_count

384

In [88]:
twelfth_grade_passing_math = student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "12th") & (student_data_df["math_score"] >= 70)]
twelfth_grade_passing_math
twelfth_grade_passing_math_count = twelfth_grade_passing_math["student_name"].count()
twelfth_grade_passing_math_count

314

In [89]:
tenth_to_twelfth_passing_math_count = tenth_grade_passing_math_count + eleventh_grade_passing_math_count + twelfth_grade_passing_math_count
tenth_to_twelfth_passing_math_count

1094

In [90]:
# Step 7. Get all the students passing reading from THS
per_school_passing_reading = student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["reading_score"] >= 70)]
per_school_passing_reading

#per_school_passing_reading_count = per_school_passing_reading["student_name"].count()
#print(per_school_passing_reading_count)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
37535,37535,Norma Mata,F,10th,Thomas High School,76.0,76
37536,37536,Cody Miller,M,11th,Thomas High School,84.0,82
37541,37541,Eric Stevens,M,10th,Thomas High School,80.0,76
37542,37542,Elizabeth Bennett,F,11th,Thomas High School,91.0,94
37544,37544,Jacqueline Harris,F,10th,Thomas High School,71.0,92
37545,37545,Christopher Shaw,M,10th,Thomas High School,84.0,68
37546,37546,Steven Hoover,M,12th,Thomas High School,90.0,81
37547,37547,Amanda Hicks,F,12th,Thomas High School,77.0,74
37548,37548,Brian Moss,M,10th,Thomas High School,70.0,97
37549,37549,Christopher Martinez,M,11th,Thomas High School,70.0,68
37551,37551,Nancy Mason,F,12th,Thomas High School,91.0,86
37552,37552,Matthew Marquez,M,10th,Thomas High School,88.0,79
37553,37553,Curtis Gibson,M,10th,Thomas High School,97.0,70
37554,37554,Rebecca Brown,F,11th,Thomas High School,76.0,77
37555,37555,Chad Martin,M,11th,Thomas High School,72.0,82
37556,37556,Sarah Park,F,11th,Thomas High School,95.0,74
37557,37557,Shannon Sanchez,F,11th,Thomas High School,93.0,84
37560,37560,Kim Hall,F,11th,Thomas High School,70.0,83
37563,37563,Amy Richard,F,10th,Thomas High School,80.0,97
37565,37565,Teresa Poole,F,10th,Thomas High School,93.0,94
37566,37566,Jonathon Roberts,M,10th,Thomas High School,84.0,77
37568,37568,Jacob Mccullough,M,11th,Thomas High School,77.0,98
37570,37570,Victoria Brown,F,12th,Thomas High School,87.0,95
37571,37571,Michael Murphy,M,12th,Thomas High School,74.0,86
37574,37574,Mark Weeks,M,10th,Thomas High School,74.0,95
37575,37575,Monique Shepherd,F,10th,Thomas High School,77.0,85
37576,37576,Stephanie Arroyo,F,11th,Thomas High School,86.0,79
37577,37577,Tiffany Graham,F,10th,Thomas High School,99.0,99
37579,37579,Stephen Walker,M,11th,Thomas High School,76.0,84
37580,37580,Oscar Hill,M,10th,Thomas High School,81.0,79
...,...,...,...,...,...,...,...
39126,39126,Samuel Casey,M,10th,Thomas High School,97.0,85
39129,39129,Diane Miller,F,10th,Thomas High School,81.0,91
39130,39130,Brett Arnold,M,11th,Thomas High School,81.0,76
39133,39133,Emily Gomez,F,12th,Thomas High School,77.0,93
39134,39134,Kerri Berger,F,12th,Thomas High School,83.0,99
39136,39136,Elizabeth Aguirre,F,12th,Thomas High School,85.0,97
39137,39137,Victoria Bailey,F,12th,Thomas High School,75.0,70
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86.0,93
39142,39142,Deborah Higgins,F,10th,Thomas High School,96.0,83
39143,39143,Steven Jackson,M,11th,Thomas High School,71.0,93
39144,39144,Cristian Webster,M,12th,Thomas High School,77.0,87
39145,39145,Audrey Fry,F,10th,Thomas High School,94.0,74
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88.0,81
39148,39148,Christopher Wilson,M,10th,Thomas High School,89.0,89
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82.0,93
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80.0,75
39151,39151,Shannon Williams,F,10th,Thomas High School,84.0,73
39154,39154,Bradley Johnson,M,12th,Thomas High School,91.0,71
39155,39155,John Brooks,M,10th,Thomas High School,92.0,98
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79.0,95
39158,39158,Kari Holloway,F,10th,Thomas High School,87.0,90
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85.0,72
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77
39163,39163,John Reese,M,11th,Thomas High School,90.0,75
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75

In [91]:
tenth_grade_passing_reading = student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "10th") & (student_data_df["reading_score"] >= 70)]
tenth_grade_passing_reading
tenth_grade_passing_reading_count = tenth_grade_passing_reading["student_name"].count()
tenth_grade_passing_reading_count

411

In [92]:
eleventh_grade_passing_reading = student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "11th") & (student_data_df["reading_score"] >= 70)]
eleventh_grade_passing_reading
eleventh_grade_passing_reading_count = eleventh_grade_passing_reading["student_name"].count()
eleventh_grade_passing_reading_count

403

In [93]:
twelfth_grade_passing_reading = student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "12th") & (student_data_df["reading_score"] >= 70)]
twelfth_grade_passing_reading
twelfth_grade_passing_reading_count = twelfth_grade_passing_math["student_name"].count()
twelfth_grade_passing_reading_count

314

In [94]:
tenth_to_twelfth_passing_reading_count = tenth_grade_passing_math_count + eleventh_grade_passing_math_count + twelfth_grade_passing_math_count
tenth_to_twelfth_passing_reading_count

1094

In [95]:
# Step 8. Get all the students passing math and reading from THS
per_school_passing_math_reading = student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["math_score"] >= 70) & (student_data_df["reading_score"] >= 70)]
per_school_passing_math_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
37535,37535,Norma Mata,F,10th,Thomas High School,76.0,76
37536,37536,Cody Miller,M,11th,Thomas High School,84.0,82
37541,37541,Eric Stevens,M,10th,Thomas High School,80.0,76
37542,37542,Elizabeth Bennett,F,11th,Thomas High School,91.0,94
37544,37544,Jacqueline Harris,F,10th,Thomas High School,71.0,92
37546,37546,Steven Hoover,M,12th,Thomas High School,90.0,81
37547,37547,Amanda Hicks,F,12th,Thomas High School,77.0,74
37548,37548,Brian Moss,M,10th,Thomas High School,70.0,97
37551,37551,Nancy Mason,F,12th,Thomas High School,91.0,86
37552,37552,Matthew Marquez,M,10th,Thomas High School,88.0,79
37553,37553,Curtis Gibson,M,10th,Thomas High School,97.0,70
37554,37554,Rebecca Brown,F,11th,Thomas High School,76.0,77
37555,37555,Chad Martin,M,11th,Thomas High School,72.0,82
37556,37556,Sarah Park,F,11th,Thomas High School,95.0,74
37557,37557,Shannon Sanchez,F,11th,Thomas High School,93.0,84
37560,37560,Kim Hall,F,11th,Thomas High School,70.0,83
37563,37563,Amy Richard,F,10th,Thomas High School,80.0,97
37565,37565,Teresa Poole,F,10th,Thomas High School,93.0,94
37566,37566,Jonathon Roberts,M,10th,Thomas High School,84.0,77
37568,37568,Jacob Mccullough,M,11th,Thomas High School,77.0,98
37570,37570,Victoria Brown,F,12th,Thomas High School,87.0,95
37571,37571,Michael Murphy,M,12th,Thomas High School,74.0,86
37574,37574,Mark Weeks,M,10th,Thomas High School,74.0,95
37575,37575,Monique Shepherd,F,10th,Thomas High School,77.0,85
37576,37576,Stephanie Arroyo,F,11th,Thomas High School,86.0,79
37577,37577,Tiffany Graham,F,10th,Thomas High School,99.0,99
37579,37579,Stephen Walker,M,11th,Thomas High School,76.0,84
37580,37580,Oscar Hill,M,10th,Thomas High School,81.0,79
37582,37582,Adam Gibbs,M,12th,Thomas High School,88.0,81
37583,37583,Stephanie Hayden,F,12th,Thomas High School,83.0,81
...,...,...,...,...,...,...,...
39126,39126,Samuel Casey,M,10th,Thomas High School,97.0,85
39129,39129,Diane Miller,F,10th,Thomas High School,81.0,91
39130,39130,Brett Arnold,M,11th,Thomas High School,81.0,76
39133,39133,Emily Gomez,F,12th,Thomas High School,77.0,93
39134,39134,Kerri Berger,F,12th,Thomas High School,83.0,99
39136,39136,Elizabeth Aguirre,F,12th,Thomas High School,85.0,97
39137,39137,Victoria Bailey,F,12th,Thomas High School,75.0,70
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86.0,93
39142,39142,Deborah Higgins,F,10th,Thomas High School,96.0,83
39143,39143,Steven Jackson,M,11th,Thomas High School,71.0,93
39144,39144,Cristian Webster,M,12th,Thomas High School,77.0,87
39145,39145,Audrey Fry,F,10th,Thomas High School,94.0,74
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88.0,81
39148,39148,Christopher Wilson,M,10th,Thomas High School,89.0,89
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82.0,93
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80.0,75
39151,39151,Shannon Williams,F,10th,Thomas High School,84.0,73
39154,39154,Bradley Johnson,M,12th,Thomas High School,91.0,71
39155,39155,John Brooks,M,10th,Thomas High School,92.0,98
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79.0,95
39158,39158,Kari Holloway,F,10th,Thomas High School,87.0,90
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85.0,72
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77
39163,39163,John Reese,M,11th,Thomas High School,90.0,75
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75

In [96]:
tenth_grade_passing = student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "10th") & (student_data_df["reading_score"] >= 70) & (student_data_df["math_score"] >= 70)]
tenth_grade_passing
tenth_grade_passing_count = tenth_grade_passing["student_name"].count()
tenth_grade_passing_count

387

In [97]:
eleventh_grade_passing = student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "11th") & (student_data_df["reading_score"] >= 70) & (student_data_df["math_score"] >= 70)]
eleventh_grade_passing
eleventh_grade_passing_count = eleventh_grade_passing["student_name"].count()
eleventh_grade_passing_count

374

In [98]:
twelfth_grade_passing = student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "12th") & (student_data_df["reading_score"] >= 70) & (student_data_df["math_score"] >= 70)]
twelfth_grade_passing
twelfth_grade_passing_count = twelfth_grade_passing["student_name"].count()
twelfth_grade_passing_count

303

In [99]:
tenth_to_twelfth_passing_count = tenth_grade_passing_count + eleventh_grade_passing_count + twelfth_grade_passing_count
tenth_to_twelfth_passing_count

1064

90.63032367972743

In [100]:
# Step 9. Calculate the percentage of 10th-12th grade students passing math from Thomas High School. 
#per_school_passing_math_count = per_school_passing_math["student_name"].count()
tenth_to_twelfth_passing_math = tenth_to_twelfth_passing_math_count / tenth_eleventh_twelfth * 100
tenth_to_twelfth_passing_math

93.18568994889267

In [101]:
# Step 10. Calculate the percentage of 10th-12th grade students passing reading from Thomas High School.
per_school_passing_reading_count = per_school_passing_reading["student_name"].count()
tenth_to_twelfth_passing_reading = per_school_passing_reading_count / tenth_eleventh_twelfth * 100
tenth_to_twelfth_passing_reading

97.01873935264055

In [102]:
# Step 11. Calculate the overall passing percentage of 10th-12th grade from Thomas High School. 
overall_tenth_to_twelfth_passing_percentage = tenth_to_twelfth_passing_count/ tenth_eleventh_twelfth * 100
overall_tenth_to_twelfth_passing_percentage

90.63032367972743

In [103]:
# Step 12. Replace the passing math percent for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc['Thomas High School', '% Passing Math'] = tenth_to_twelfth_passing_math
per_school_summary_df.loc['Thomas High School', '% Passing Math']

93.18568994889267

In [104]:
# Step 13. Replace the passing reading percentage for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc['Thomas High School', '% Passing Reading'] = tenth_to_twelfth_passing_reading
per_school_summary_df.loc['Thomas High School', '% Passing Reading']

97.01873935264055

In [105]:
# Step 14. Replace the overall passing percentage for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc['Thomas High School', '% Overall Passing'] = overall_tenth_to_twelfth_passing_percentage
per_school_summary_df.loc['Thomas High School', '% Overall Passing']

90.63032367972743

In [28]:
# per_school_summary_df

## High and Low Performing Schools

In [140]:
# Sort and show top five schools.
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)

top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$584
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.896082,93.185690,97.018739,90.630324,$630-644
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-629
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$584
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-629

In [141]:
# Sort and show top five schools.
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)

bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-644
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-644
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-675
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-675
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-675

## Math and Reading Scores by Grade

In [142]:
# Create a Series of scores by grade levels using conditionals.

ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]

tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]

eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]

twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

In [143]:
# Group each school Series by the school name for the average math score.

ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]

tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]

eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]

twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

In [144]:
# Group each school Series by the school name for the average reading score.

ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]

tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]

eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]

twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

In [148]:
# Combine each Series for average math scores by school into single data frame.
math_scores_by_grade = pd.DataFrame({
               "9th": ninth_grade_math_scores,
               "10th": tenth_grade_math_scores,
               "11th": eleventh_grade_math_scores,
               "12th": twelfth_grade_math_scores})

In [149]:
# Combine each Series for average reading scores by school into single data frame.
reading_scores_by_grade = pd.DataFrame({
              "9th": ninth_grade_reading_scores,
              "10th": tenth_grade_reading_scores,
              "11th": eleventh_grade_reading_scores,
              "12th": twelfth_grade_reading_scores})

In [150]:
# Format each grade column.
math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.1f}".format)

math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:.1f}".format)

math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:.1f}".format)

math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:.1f}".format)

In [151]:
# Remove the index.
math_scores_by_grade.index.name = None

# Display the data frame
math_scores_by_grade.head()

                       9th  10th  11th  12th
Bailey High School    77.1  77.0  77.5  76.5
Cabrera High School   83.1  83.2  82.8  83.3
Figueroa High School  76.4  76.5  76.9  77.2
Ford High School      77.4  77.7  76.9  76.2
Griffin High School   82.0  84.2  83.8  83.4

In [152]:
# Format each grade column.
reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:,.1f}".format)

reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:,.1f}".format)

reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:,.1f}".format)

reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:,.1f}".format)

In [154]:
## Remove the index.
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]

# Display the data frame
reading_scores_by_grade.head()

                       9th  10th  11th  12th
school_name
Bailey High School    81.3  80.9  80.9  80.9
Cabrera High School   83.7  84.3  83.8  84.3
Figueroa High School  81.2  81.4  80.6  81.4
Ford High School      80.6  81.3  80.4  80.7
Griffin High School   83.4  83.7  84.3  84.0

## Scores by School Spending

In [155]:
# Establish the spending bins and group names.
spending_bins = [0, 585, 630, 645, 675]
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]

# Categorize spending based on the bins.
per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)

per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-629
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$584
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-644
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-644
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-629

In [158]:
# Calculate averages for the desired columns. 

spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]

spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]

spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]

spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]

overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

spending_summary_df = pd.DataFrame({
          "Average Math Score" : spending_math_scores,
          "Average Reading Score": spending_reading_scores,
          "% Passing Math": spending_passing_math,
          "% Passing Reading": spending_passing_reading,
          "% Overall Passing": overall_passing_spending})

# Create the DataFrame
spending_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.455399,83.933814,93.460096,96.610877,90.369459
$585-629,81.899826,83.155286,87.133538,92.718205,81.418596
$630-644,78.518855,81.636261,73.462589,84.319261,62.778233
$645-675,76.997210,81.027843,66.164813,81.133951,53.526855

In [159]:
# Format the DataFrame 
spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.1f}".format)

spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.1f}".format)

spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.0f}".format)

spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.0f}".format)

spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.0f}".format)

spending_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.5,83.9,93,97,90
$585-629,81.9,83.2,87,93,81
$630-644,78.5,81.6,73,84,63
$645-675,77.0,81.0,66,81,54

## Scores by School Size

In [160]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Categorize spending based on the bins.
per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], size_bins, labels=group_names)

per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),School Size
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-629,Large (2000-5000)
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$584,Medium (1000-2000)
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-644,Large (2000-5000)
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-644,Large (2000-5000)
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-629,Medium (1000-2000)

In [161]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]

size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]

size_passing_math = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]

size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]

size_overall_passing = per_school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [162]:
# Assemble into DataFrame. 
size_summary_df = pd.DataFrame({
          "Average Math Score" : size_math_scores,
          "Average Reading Score": size_reading_scores,
          "% Passing Math": size_passing_math,
          "% Passing Reading": size_passing_reading,
          "% Overall Passing": size_overall_passing})

In [163]:
#Create the DataFrame
size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.873869,93.582398,96.732654,90.557997
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [164]:
# Format the DataFrame  
size_summary_df["Average Math Score"] = size_summary_df["Average Math Score"].map("{:.1f}".format)

size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].map("{:.1f}".format)

size_summary_df["% Passing Math"] = size_summary_df["% Passing Math"].map("{:.0f}".format)

size_summary_df["% Passing Reading"] = size_summary_df["% Passing Reading"].map("{:.0f}".format)

size_summary_df["% Overall Passing"] = size_summary_df["% Overall Passing"].map("{:.0f}".format)

size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.8,83.9,94,96,90
Medium (1000-2000),83.4,83.9,94,97,91
Large (2000-5000),77.7,81.3,70,83,58

## Scores by School Type

In [165]:
# Calculate averages for the desired columns. 
type_math_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]

type_reading_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]

type_passing_math = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]

type_passing_reading = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]

type_overall_passing = per_school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [166]:
# Assemble into DataFrame. 
type_summary_df = pd.DataFrame({
          "Average Math Score" : type_math_scores,
          "Average Reading Score": type_reading_scores,
          "% Passing Math": type_passing_math,
          "% Passing Reading": type_passing_reading,
          "% Overall Passing": type_overall_passing})

In [167]:
# #Create the DataFrame
type_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.902315,93.610020,96.550223,90.392533
District,76.956733,80.966636,66.548453,80.799062,53.672208

In [168]:
# # Format the DataFrame 
type_summary_df["Average Math Score"] = type_summary_df["Average Math Score"].map("{:.1f}".format)

type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].map("{:.1f}".format)

type_summary_df["% Passing Math"] = type_summary_df["% Passing Math"].map("{:.0f}".format)

type_summary_df["% Passing Reading"] = type_summary_df["% Passing Reading"].map("{:.0f}".format)

type_summary_df["% Overall Passing"] = type_summary_df["% Overall Passing"].map("{:.0f}".format)

type_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.5,83.9,94,97,90
District,77.0,81.0,67,81,54